= form_for(@car_form, url: car_form_path(@car), method: car_form_method(@car), html: { class: 'form-horizontal' }) do |f|
  .card-header
    i.fa.fa-align-justify
    strong
      = title if defined? title
  .card-body
    - if @car_form.errors.any?
      #error_explanation
        h2 = "#{pluralize(@car_form.errors.count, "error")} prohibited this car from being saved:"
        ul
          - @car_form.errors.full_messages.each do |message|
            li = message
    .form-group.row
      label.col-md-3.col-form-label Title
      .col-md-9
        = f.text_field :title, class: 'form-control'
    .form-group.row
      label.col-md-3.col-form-label Description
      .col-md-9
        = f.text_area :description, class: 'form-control'
    .form-group.row
      label.col-md-3.col-form-label Image
      .col-md-9
        = f.file_field :image
    / .form-group.row
    /   label.col-md-3.col-form-label Group with permission
    /   .col-md-9
    /     = f.collection_check_boxes :group_ids, Group.all, :id, :name do |g|
    /       .form-check.checkbox
    /         = g.check_box class: 'form-check-input'
    /         label.form-check-label = g.text
  .card-footer
    = f.submit "#{car_form_button(@car)} car", class: 'btn btn-sm btn-primary' do
      i.fa.fa-dot-circle-o
    = link_to admin_cars_path, class: 'btn btn-sm btn-danger' do
      i.fa.fa-ban
      | Reset
