.animated.fadeIn
  .row
    .col-lg-12
      .card
        == render partial: 'form', locals: { title: 'Edit car' }

/ => link_to 'Show', admin_car_path(@car)
/ '|
/ =< link_to 'Back', admin_car_path
