- content_for(:additional_scripts) do
  script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'
  script src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js'
  = javascript_include_tag 'datatable'

- content_for(:additional_styles) do
  link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"

.animated.fadeIn
  .row
    .col-lg-12
      .card
        .card-header
          i.fa.fa-align-justify
          | Cars list
          .card-actions
            = link_to new_admin_car_path do
              i.icon-plus
        .card-body
          table#datatable.table.table-striped.table-bordered style="width:100%"
            thead
              tr
                th Title
                th Description
                th Total users
                th Views stats
                th Actions
            tbody
              - @cars.each do |car|
                - cache car
                  tr
                    td = car.title.truncate(25, omission: '...')
                    td = car.description.truncate(150, omission: '...')
                    td = total_users(car)
                    td class="#{car.id}" = views_percents(car)

                    td.actions
                      = link_to 'Show', admin_car_path(car)
                      = link_to 'Edit', edit_admin_car_path(car)
                      = link_to 'Destroy', admin_car_path(car), data: { confirm: 'Are you sure?'}, method: :delete
            tfoot
              tr
                th Title
                th Description
                th Total users
                th Views stats
                th Actions


