.animated.fadeIn
  .row
    .col-lg-12
      .card
        .card-header
          i.fa.fa-align-justify
          | New car
        .card-body
          p#notice = notice

          p
            strong Title:
            = @car.title
          p
            strong Description:
            = @car.description

          => link_to 'Edit', edit_admin_car_path(@car)
          '|
          =< link_to 'Back', admin_cars_path
