= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      h2 = "#{pluralize(@order.errors.count, 'error')} prohibited this order from being saved:"
      ul
        - @order.errors.full_messages.each do |message|
          li = message

  .form-group.row
    label.col-md-3.col-form-label Date rent starts
    .col-md-9
      = f.datetime_field :start_at, min: Date.today, class: 'form-control'
  .form-group.row
    label.col-md-3.col-form-label Date rent finishes
    .col-md-9
      = f.datetime_field :end_at, min: Date.today , class: 'form-control'
  = f.hidden_field :car_id, value: params[:car].to_i
  .actions = f.submit
