.col-sm-6.col-md-4
  .card
    .card-header
      = link_to car.title.truncate(60, omission: '...'), car_path(car)
    .card-body
      = image_tag(car.image, class: 'img') if car.image.attached?
      = car.description.truncate(250, omission: '...')
