.animated.fadeIn
  .row
    .col-sm-12
      .card
        .card-header
          = @car.title
          .float-right
            = link_to "Rent", new_order_path(car: @car.id)
        .card-body
          = image_tag(@car.image, class: 'img') if @car.image.attached?
          = @car.description


