.animated.fadeIn
  .row
    .col-6.col-lg-4
      .card
        .card-body.p-3.clearfix
          i.fa.fa-users.bg-primary.p-3.font-2xl.mr-3.float-left
          .h5.text-primary.mb-0.mt-2 = User.count
          .text-muted.text-uppercase.font-weight-bold.font-xs Users
        .card-footer.px-3.py-2
          = link_to admin_users_path, class: 'font-weight-bold font-xs btn-block text-muted' do
            | View More
            i.fa.fa-angle-right.float-right.font-lg
    / .col-6.col-lg-4
      / .card
      /   .card-body.p-3.clearfix
      /     i.fa.fa-object-group.bg-info.p-3.font-2xl.mr-3.float-left
      /     .h5.text-info.mb-0.mt-2 =# Group.count
      /     .text-muted.text-uppercase.font-weight-bold.font-xs Groups
      /   .card-footer.px-3.py-2
      /     =# link_to admin_groups_path, class: 'font-weight-bold font-xs btn-block text-muted' do
      /       | View More
      /       i.fa.fa-angle-right.float-right.font-lg
    .col-6.col-lg-4
      .card
        .card-body.p-3.clearfix
          i.fa.fa-file.bg-warning.p-3.font-2xl.mr-3.float-left
          .h5.text-warning.mb-0.mt-2 = Car.count
          .text-muted.text-uppercase.font-weight-bold.font-xs Cars
        .card-footer.px-3.py-2
          = link_to admin_cars_path, class: 'font-weight-bold font-xs btn-block text-muted' do
            | View More
            i.fa.fa-angle-right.float-right.font-lg
