head
  meta charset="utf-8"
  meta http-equiv="X-UA-Compatible" content="IE=edge"
  meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
  meta name="description" content="Service to rent a car"
  meta name="author" content="Anastasia"
  meta name="keyword" content="Rent a car"
  title = "Rent a Car#{yield(:title)}"
  link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css"
  link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
  = yield(:additional_styles) if yield(:additional_styles).present?
  = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = render 'layouts/scripts'
  = csrf_meta_tags
  = action_cable_meta_tag
