- if current_user.admin?
  .sidebar
    nav.sidebar-nav
      ul.nav
        li.nav-item
          = link_to admin_path, class: 'nav-link' do
            i.icon-speedometer
            | Dashboard
            / span.badge.badge-primary NEW
        li.nav-item
          = link_to admin_cars_path, class: 'nav-link' do
            i.icon-pencil
            | Cars
        li.nav-item
          = link_to admin_users_path, class: 'nav-link' do
            i.icon-people
            | Users


    button.sidebar-minimizer.brand-minimizer type='button'
